body {
	background: url(https://www.desicomments.com/dc1/04/92623/92623.jpg);
	text-align : center;
	color: white;
	margin: 50px;
	font-size: 30px;
	line-height: 50px;
}

.header {
	background: white;
	color: black;
	font-family: 'Gugi', cursive;
}

.header:hover{
	background: blue;
	color: white;
}

.main-content {
	background: url(https://images.pexels.com/photos/675977/blue-sky-merge-clouds-675977.jpeg?cs=srgb&dl=light-sky-clouds-675977.jpg&fm=jpg);
	color: black;
	text-align: left;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
}

#inst {
	font-weight: bold;
	font-family: 'Gugi', cursive;
	font-size: 25px;
}

.numberToMatch{
	font-size: 20px;
	background: green;
	font: white;
	width: 50%;
	font-family: 'Gugi', cursive; 
	float:left;
}

#randomNumber {
	font-weight: bold;
	font-size: 20px;
	color: black;
	
}

.score{ 
	width: 50%;
	float:left;
	font-size: 20px;
	font-family: 'Gugi', cursive; 
	background: blue;
}

.winsAndLosses{
	font-size: 25px;
	background:black;
	color: white;
}

.crystals{
	background: pink;
}

.image{
	width: 150px;
	height: 150px;
}